.row {
    margin-top: 50px;
}

.row > div > div{
    background-color: #006A4E;
    height: 250px;
    margin-bottom: 50px;
    border-radius: 20px;
}

body {
    background-color: black;
}
.nav-wrapper {
    background-color: #006A4E;
}