html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
    color: white;
    margin-bottom: 40px;
}

footer {
    background-color: #006A4E;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.row {
    margin-top: 50px;
    text-align: center;
}

.row > div {
    position: relative;
}

.row > div > div {
    background-color: #006A4E;
    min-height: 330px;
    max-height: 400px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.tabs {
    background-color: #006A4E;
    text-align: right;
}

.tabs .tab a{
    color:white;
}

.tabs .indicator {
    background-color: grey;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: black
}

#add_Course {
    text-align: center;
}

#add_Course input {
    width: 200px;
    padding-left: 10px;
    color: white;
}

#addCourse {
    background-color: #006A4E;
    outline: none;
    color: white;
    border: none;
    height: 35px;
    border-radius: 5px;
}

.row img {
    margin-top: -45px;
    height: 90px;
    object-fit: contain; 
    border-radius: 50%;
}

.row h5 {
    color: black;
    font-weight: bold;
    font-style: italic;
    margin:0;
}

.row p {
    text-align: justify;
    padding: 10px;
    font-size: 14px;
    text-indent: 15px;
    margin: 0;
    background-image: linear-gradient(black, #006A4E);
    height: 150px;
}

.row span {
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
}

.row button {
    background-color: black;
    margin: 0 3px 0 3px;
    width: 65px;
    color: #006A4E;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 30px;
    box-shadow: 2px 2px;
}

#selected_courses {
    width: 40%;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
}

.selectCourse {
    display: none;
    position: relative;
}

.selectCourse button {
    position: absolute;
    bottom: 10px;
}

.add_edit {
    position: absolute;
    top: 30px;
    left: 35%;
    font-size: 30px;
}

.edit_input {
    display: none;
    position: absolute;
    top: 50%;
    right: -200px;
}

.edit_input input {
    color: white;
}

.edit_input button, #total, .paypal {
    background-color: #006A4E;
    outline: none;
    color: white;
    border: none;
    height: 35px;
    border-radius: 5px;
    width: 60px;
}

.paypal {
    margin-top: 20px;
}

.paypal a {
    text-decoration: none;
    color: black
}

#total {
    width: 80px;
    position: absolute;
    margin-top: 20px;
    right: 280px;
}

.checkout, .pay {
    padding-top: 50px;
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 1fr 3fr;
}

.checkout span, .pay span {
    text-align: left;
    border-bottom: 1px solid white;
    height: 46px;
    line-height:46px;
    padding-left: 20px;
}

.pay input {
    display: none;
}

.checkout input {
    color: white;
}

.payList {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
    display: none;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 30px;
}

.login {
    position: absolute;
    top: 10px;
    left:10px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-family: Orbitron;
}

.x {
    position: absolute;
    top: 5px;
    right: 20px;
}

.showTotal {
    border-top: 1px solid black;
    width: 38%;
    margin: 0 auto;
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
    font-weight: bold;
}